<a href="https://colab.research.google.com/github/redinbluesky/fun-coding-python-data-analysis/blob/main2/04-Pandas_기초_배우기.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  목차
* [Chapter 4-1 Pandas 사용하기](#chapter4-1)
    * [Chapter 4-1-1 라이브러리 임포트하기](#chapter4-1-1)
* [Chapter 4-2 시리즈 다루기](#chapter4-2)    
    * [Chapter 4-2-1 시리즈란](#chapter4-2-1)
    * [Chapter 4-2-2 시리즈 생성하기](#chapter4-2-2)
    * [Chapter 4-2-3 인덱스 지정하기](#chapter4-2-3)
    * [Chapter 4-2-4 데이터 접근하기](#chapter4-2-4)
* [Chapter 4-3 데이터프레임 다루기](#chapter4-3)
    * [Chapter 4-3-1 데이터프레임이란](#chapter4-3-1)
    * [Chapter 4-3-2 데이터프레임 생성하기](#chapter4-3-2)
    * [Chapter 4-3-3 실습: 특정 열 데이터 접근하기](#chapter4-3-3)
    * [Chapter 4-3-4 실습: 특정 행 데이터 접근하기](#chapter4-3-4)
    * [Chapter 4-3-5 실습: 특정 열과 행 데이터 한 번에 읽어오기](#chapter4-3-5)
* [Chapter 4-4 셀프체크](#chapter4-4)

## Chapter 4-1 Pandas 사용하기 <a class="anchor" id="chapter4-1"></a>
1. Pandas는 Python에서 데이터 분석을 할 때 가장 많이 사용하는 라이브러리입니다.

2. Pandas는 데이터 프레임(DataFrame)이라는 자료구조를 사용하여 데이터를 다루는데, 이는 엑셀과 유사한 형태로 데이터를 저장하고 조작할 수 있게 해줍니다.

### Chapter 4-1-1 라이브러리 임포트하기 <a class="anchor" id="chapter4-1-1"></a>

In [3]:
# pandas 설치 확인
!pip show pandas

WARNING: Package(s) not found: pandas

In [4]:
# pandas 설치
!pip install pandas

Collecting pandas
  Downloading pandas-3.0.0-cp314-cp314-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (79 kB)
Collecting numpy>=2.3.3 (from pandas)
  Downloading numpy-2.4.2-cp314-cp314-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/redinblue/anaconda3/envs/python314_funCoding/lib/python3.14/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/redinblue/anaconda3/envs/python314_funCoding/lib/python3.14/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-3.0.0-cp314-cp314-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (10.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 95.1 MB/s  0:00:00
Downloading numpy-2.4.2-cp314-cp314-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 91.5 MB/s  0:00:00
Installing collected packages: numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [pandas]2m1/2 [pandas]
Successfully installed numpy-2.4.2 pandas-3.0.0

In [5]:
# Pandas를 임포트하고 버전을 출력한다.
import pandas as pd

print(pd.__version__)

3.0.0

## Chapter 4-2 시리즈 다루기 <a class="anchor" id="chapter4-2"></a>
### Chapter 4-2-1 시리즈란 <a class="anchor" id="chapter4-2-1"></a>
1. 시리즈(Series)는 Pandas의 기본 구조로, 데이터와 인덱스로 구성된 1차원 배열입니다.
    - 파이썬의 리스트와 비슷하지만, 시리즈는 인덱스를 가지고 있어 데이터에 접근할 때 유용합니다.

2. 엑셀 파일로 비유하면, 데이터가 들어가는 하나의 열(column)과 비슷하다.
    - 엑셀의 열에 번호가 있는 것처럼 시리즈도 각 데이터를 지정하는 번호가 있는데 이를 인덱스라고 한다.
    - 인덱스는 0부터 시작하는 정수 값으로 지정되지만 사용자가 원하는 대로 인덱스를 지정할 수도 있다.
    - 한 시리즈의 데이터는 모두 같은 자료형이어야 한다.

        ![pandas_series](image/04_02_pandas_series.png)

### Chapter 4-2-2 시리즈 생성하기 <a class="anchor" id="chapter4-2-2"></a>

In [7]:
# Series 생성하기
import pandas as pd

# 숫자 데이터로 시리즈 생성
numbers = [10, 20, 30, 40, 50]
series = pd.Series(numbers)
print(series)

# 문자 데이터로 시리즈 생성
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
fruit_series = pd.Series(fruits)
print(fruit_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: str

### Chapter 4-2-3 인덱스 지정하기 <a class="anchor" id="chapter4-2-3"></a>

In [8]:
# 문자열 리스트로 데이터를 사용하고 인덱스를 지정하여 시리즈 생성
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
index_labels = ['a', 'b', 'c', 'd', 'e']
series_str = pd.Series(fruits, index=index_labels)
print(series_str)

a         apple
b        banana
c        cherry
d          date
e    elderberry
dtype: str

### Chapter 4-2-4 데이터 접근하기 <a class="anchor" id="chapter4-2-4"></a>

In [9]:
# 정수형 인덱스로 데이터 접근
print(series[0])  # 첫 번째 요소

# 문자열 인덱스로 데이터 접근
print(series_str['a'])  # 'a' 인덱스의 요소

10
apple

## Chapter 4-3 데이터프레임 다루기 <a class="anchor" id="chapter4-3"></a>
### Chapter 4-3-1 데이터프레임이란 <a class="anchor" id="chapter4-3-1"></a>
1. 데이터프레임(DataFrame)은 Pandas에서 가장 많이 사용하는 자료구조로, 2차원 표 형태의 데이터 구조입니다.
    - 엑셀 파일로 비유하면, 데이터프레임은 여러 열과 행으로 구성된 시트(sheet)와 유사합니다.
    - 데이터프레임은 여러 시리즈로 구성되어 있으며, 각 시리즈는 데이터프레임의 열(column)을 나타냅니다.
    - 데이터프레임의 각 열은 서로 다른 자료형을 가질 수 있습니다.
    - 데이터프레임은 행과 열 모두에 인덱스를 가질 수 있습니다.
    
        ![pandas_dataframe](image/04_03_pandas_dataframe.png)

        - 인덱스(index): 데이터프레임의 행을 식별하는 레이블입니다. 기본적으로 0부터 시작하는 정수로 지정되지만, 사용자가 원하는 대로 인덱스를 지정할 수도 있습니다.
        - 열(column): 데이터프레임의 세로 방향의 구성 요소로, 각 열은 시리즈로 표현됩니다. 열에는 데이터의 속성이나 특성이 저장됩니다.
        - 행(row): 데이터프레임의 가로 방향의 구성 요소로, 각 행은 데이터의 개별 레코드를 나타냅니다. 행에는 데이터의 실제 값이 저장됩니다.
        - 값(value): 데이터프레임의 각 셀에 저장된 실제 데이터입니다. 값은 다양한 자료형을 가질 수 있으며, 데이터프레임의 열마다 서로 다른 자료형이 허용됩니다.

### Chapter 4-3-2 데이터프레임 생성하기 <a class="anchor" id="chapter4-3-2"></a>
1. 데이터프레임은 딕셔너리, 리스트, 시리즈 등 다양한 방법으로 생성할 수 있습니다.

2. Pandas의 DataFrame 클래스를 사용하여 데이터프레임을 생성할 수 있습니다.

In [ ]:
# 딕셔너리로 데이터 프레임 생성
import pandas as pd

# 딕셔니리의 키는 열 이름이 되고, 값은 해당 열의 데이터가 됩니다.
# 인덱스는 자동으로 0부터 시작하는 정수형 인덱스가 생성됩니다.
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eve   45      Phoenix

In [12]:
# 원하는 인덱스와 열 이름을 지정하여 데이터 프레임 생성
import pandas as pd

data = [
    ["Alice", 25, "New York"],
    ["Bob", 30, "Los Angeles"],
    ["Charlie", 35, "Chicago"],
    ["David", 40, "Houston"],
    ["Eve", 45, "Phoenix"]
]

df = pd.DataFrame(data, index=["Person1", "Person2", "Person3", "Person4", "Person5"], columns=["Name", "Age", "City"])
print(df)

            Name  Age         City
Person1    Alice   25     New York
Person2      Bob   30  Los Angeles
Person3  Charlie   35      Chicago
Person4    David   40      Houston
Person5      Eve   45      Phoenix

### Chapter 4-3-3 실습: 특정 열 데이터 접근하기 <a class="anchor" id="chapter4-3-3"></a>

In [14]:
# 실습에 사용할 데이터프레임 생성
import pandas as pd

data = [
    ["Alice", 25, "New York"],
    ["Bob", 30, "Los Angeles"],
    ["Charlie", 35, "Chicago"],
    ["David", 40, "Houston"],
    ["Eve", 45, "Phoenix"]
]

df = pd.DataFrame(data, index=["Person1", "Person2", "Person3", "Person4", "Person5"], columns=["Name", "Age", "City"])
print(df)

            Name  Age         City
Person1    Alice   25     New York
Person2      Bob   30  Los Angeles
Person3  Charlie   35      Chicago
Person4    David   40      Houston
Person5      Eve   45      Phoenix

In [ ]:
# Name 열의 데이터를 읽어와 name_column 변수에 저장 후 출력하기
name_coplumn = df["Name"]
print(name_coplumn)

Person1      Alice
Person2        Bob
Person3    Charlie
Person4      David
Person5        Eve
Name: Name, dtype: str

In [18]:
# Name 열과 Age 열의 데이터를 name_age_columns 변수에 저장 후 출력하기
name_age_columns = df[["Name", "Age"]]
print(name_age_columns)

            Name  Age
Person1    Alice   25
Person2      Bob   30
Person3  Charlie   35
Person4    David   40
Person5      Eve   45

### Chapter 4-3-4 실습: 특정 행 데이터 접근하기 <a class="anchor" id="chapter4-3-4"></a>
1. Pandas에서는 특정 행 데이터에 접근하기 위해 loc와 iloc 메서드를 사용할 수 있습니다.
    - loc: 라벨 기반 인덱싱을 사용하여 특정 행에 접근합니다. 예를 들어, df.loc[0]은 인덱스가 0인 행을 반환합니다.
    - iloc: 정수 기반 인덱싱을 사용하여 특정 행에 접근합니다. 예를 들어, df.iloc[0]은 첫 번째 행을 반환합니다.

In [19]:
# loc 인덱서로 Person1 레이블의 데이터를 읽어와 출력한다.
person1_row = df.loc["Person1"]
print(person1_row)

Name       Alice
Age           25
City    New York
Name: Person1, dtype: object

In [20]:
# iloc 인덱서로 첫 번째 행의 데이터를 읽어와 출력한다.
first_row = df.iloc[0]
print(first_row)

Name       Alice
Age           25
City    New York
Name: Person1, dtype: object

### Chapter 4-3-5 실습: 특정 열과 행 데이터 한 번에 읽어오기 <a class="anchor" id="chapter4-3-5"></a>
1. 특정 열과 행 데이터를 한 번에 읽어오기 위해 loc와 iloc 메서드를 사용할 수 있습니다.
    - loc: df.loc[행 인덱스 이름, 열 이름] 형식으로 특정 행과 열의 데이터를 반환합니다. 예를 들어, df.loc["Person1", "Name"]은 Person1 행과 Name 열의 데이터를 반환합니다.
    - iloc: df.iloc[행 번호, 열 번호] 형식으로 특정 행과 열의 데이터를 반환합니다. 예를 들어, df.iloc[0, 0]은 첫 번째 행과 첫 번째 열의 데이터를 반환합니다.

In [21]:
# loc 인덱서로 Person2 행의 Name과 Age 열 데이터를 읽어와 출력한다.
person2_name_age = df.loc["Person2", ["Name", "Age"]]
print(person2_name_age)

Name    Bob
Age      30
Name: Person2, dtype: object

In [23]:
# iloc 인덱서로 두 번째 행의 첫 번째 열과 세 번째 열 데이터를 읽어온다.
scond_row_first_third_columns = df.iloc[1, [0, 2]]
print(scond_row_first_third_columns)

Name            Bob
City    Los Angeles
Name: Person2, dtype: str

### Chapter 4-4 셀프체크 <a class="anchor" id="chapter4-4"></a>

In [25]:
import pandas as pd

data = [10, 20, 30, 40, 50]
myindex = ['a', 'b', 'c', 'd', 'e']

my_series = pd.Series(data, index=myindex)
print(my_series)

print(my_series["c"])

a    10
b    20
c    30
d    40
e    50
dtype: int64
30

In [30]:
import pandas as pd

data = {
    "Name": ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    "Age": [25, 30, 35, 40, 45],
    "City": ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}

df = pd.DataFrame(data)
print(df)

print(df[["Name"]])

print(df.loc[1, ["City"]])

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eve   45      Phoenix
      Name
0    Alice
1      Bob
2  Charlie
3    David
4      Eve
City    Los Angeles
Name: 1, dtype: str